In [1]:
from sklearn.neighbors import KNeighborsClassifier

In [2]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
import pandas as pd

In [5]:
mydata=pd.read_csv("a1_raw.csv")

In [6]:
mydata.head()

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,sy,sz,lwx,lwy,lwz,rwx,rwy,rwz,timestamp,phase
0,5.347435,4.363681,1.501913,5.258967,4.319263,1.488703,5.037871,1.618295,1.778350,5.062803,4.229656,1.772577,4.972902,4.301065,1.564781,5.553945,4.370456,1.553521,5702026,Rest
1,4.869622,4.254210,1.556133,5.240113,4.346338,1.554309,5.037610,1.618370,1.778573,5.061430,4.228504,1.772859,4.974908,4.303656,1.565527,5.423875,4.303708,1.569942,5702058,Rest
2,5.357447,4.364039,1.500969,5.238928,4.347924,1.554150,5.037514,1.618298,1.778774,5.059245,4.228004,1.773568,4.981612,4.305363,1.563643,5.332170,4.438061,1.572841,5702089,Rest
3,4.942886,4.281878,1.546513,5.111436,4.229660,1.527091,5.037526,1.618612,1.778855,5.056475,4.226891,1.774519,4.987158,4.304063,1.565929,5.311104,4.396774,1.566368,5702120,Rest
4,5.003160,4.278530,1.542866,4.985812,4.182155,1.520330,5.037557,1.619226,1.778925,5.052367,4.225485,1.775536,4.983912,4.296833,1.569889,5.193762,4.335417,1.560144,5702167,Rest

In [7]:
x=mydata.drop(['timestamp','phase'],axis=1)

In [28]:
x.head()

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,sy,sz,lwx,lwy,lwz,rwx,rwy,rwz
0,5.347435,4.363681,1.501913,5.258967,4.319263,1.488703,5.037871,1.618295,1.778350,5.062803,4.229656,1.772577,4.972902,4.301065,1.564781,5.553945,4.370456,1.553521
1,4.869622,4.254210,1.556133,5.240113,4.346338,1.554309,5.037610,1.618370,1.778573,5.061430,4.228504,1.772859,4.974908,4.303656,1.565527,5.423875,4.303708,1.569942
2,5.357447,4.364039,1.500969,5.238928,4.347924,1.554150,5.037514,1.618298,1.778774,5.059245,4.228004,1.773568,4.981612,4.305363,1.563643,5.332170,4.438061,1.572841
3,4.942886,4.281878,1.546513,5.111436,4.229660,1.527091,5.037526,1.618612,1.778855,5.056475,4.226891,1.774519,4.987158,4.304063,1.565929,5.311104,4.396774,1.566368
4,5.003160,4.278530,1.542866,4.985812,4.182155,1.520330,5.037557,1.619226,1.778925,5.052367,4.225485,1.775536,4.983912,4.296833,1.569889,5.193762,4.335417,1.560144

In [9]:
y=pd.DataFrame(mydata['phase'])

In [10]:
y.head()

  phase
0  Rest
1  Rest
2  Rest
3  Rest
4  Rest

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [22]:
knn=KNeighborsClassifier(n_neighbors=3)

In [23]:
knn.fit(x_train,y_train)

c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [24]:
p=knn.predict(x_test)

In [25]:
confusion_matrix(y_test,p)

array([[  5,   0,   0,   0,   0],
       [  0,  20,   9,   3,   5],
       [  0,   7, 136,   0,   0],
       [  1,   3,   4,  19,   5],
       [  1,   5,   3,   5, 119]], dtype=int64)

In [26]:
accuracy_score(y_test,p)

0.8542857142857143

In [29]:
print(knn.predict([[5,4,1,5,4,1,5,2,2,5,4,2,4,4,2,6,4,2]]))

['Preparation']